.deposit-cash{
    .action-bar{
        padding: 0.313rem;
    }

    .deposit-cash-container{
        padding: 1.25rem;

        .deposit-cash-form{
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            max-width: 400px;
        }
    }
}