.withdraw-cash{
    .action-bar{
        padding: 0.313rem;
    }

    .withdraw-cash-container{
        padding: 1.25rem;
        
        .withdraw-cash-form{
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            max-width: 400px;

            .positive-balance{
                color: green;
            }

            .negative-balance{
                color: red;
            }
        }
    }
}