<div class="exchange-home">
  <div class="action-bar">
    <button
      matButton="filled"
      class="btn btn-secondary"
      (click)="navigateToHome()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      Return to home page
    </button>
  </div>

  <div class="exchange-data">
    <h1>The Exchange</h1>

    <div class="exchange-data-search">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    @if (hasFavoriteStocksSignal()){
    <div class="favorite-stocks-main-container">
      @for (stockExchangeData of favoriteStocksData; track $index) {
      <div class="favorite-stocks-index-card">
        <div class="favorite-stocks-index-card-item">
          {{stockExchangeData.code}}
        </div>
        <div class="favorite-stocks-index-card-item">
          {{stockExchangeData.price | currency: 'USD'}}
        </div>
        <div class="favorite-stocks-index-card-item">
          {{stockExchangeData.code}}
        </div>
      </div>
      }
    </div>
    <!-- <table class="table table-bordered mb-0 exchange-table">
      @for (stockExchangeData of favoriteStocksData; track $index) {
      <div
        class="exchange-item"
        [ngClass]="stockExchangeData.priceGrown ? 'price-rising' : 'price-falling'"
      >
        <tr>
          <td><h3 style="margin: 0">{{stockExchangeData.code}}</h3></td>
          <td>
            @if(stockExchangeData.price) {
            <span>{{stockExchangeData.price | currency: 'USD'}}</span>
            } @else {
            <span>Fetching price...</span>
            }
          </td>
          @if (canBuyOrSellStock(stockExchangeData.code)) {
          <td>
            <input
              #quantityBuyInput
              type="number"
              class="form-control"
              value="0"
              placeholder="Quantity"
            />
            <button
              (click)="buyStockAmount(stockExchangeData.code, quantityBuyInput)"
              class="btn btn-primary"
            >
              Buy amount
            </button>
          </td>
          <td>
            <input
              #quantitySellInput
              type="number"
              class="form-control"
              value="0"
              placeholder="Quantity"
            />
            <button
              (click)="sellStockAmount(stockExchangeData.code, quantitySellInput)"
              class="btn btn-primary"
            >
              Sell amount
            </button>
          </td>
          <td>
            <span>
              Owned: {{getOwnedStockAmount(stockExchangeData.code) || 0}}
            </span>
          </td>
          <td>
            <span
              >Owned value: {{getOwnedStockAmountValue(stockExchangeData.code)
              || 0 | currency: 'USD'}}</span
            >
          </td>
          }
        </tr>
      </div>
      }
    </table> -->
    }@else {
    <p>
      You have no favorite stocks. Search the stocks or see some of stocks
      listed under and add them to favorites.
    </p>
    }
  </div>
</div>
