.exchange-home{
    .action-bar{
        padding: 0.313rem;
    }

    .exchange-data{

        padding: 0.313rem;

        .exchange-table{
                td{
                    width: 6.25rem;
                }

                .text-end{
                    text-align: left;
                }
            }

        .exchange-item{
            &.price-rising{
                color: green;
            }
            &.price-falling{
                color: red;
            }
        }
    }
}